<div class="row" style="text-align: center; margin-top: 100px;">
  <div class="col">
    <h1 style="color: #ee7800; font-size: 50px;">BodyLog</h1>
  </div>
</div>

<div class="row" style="width: 50%; background-color: #fafafa; text-align: center; margin: 0 auto; padding: 30px 0;">
  <div class="col">
    <h2>新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-row">
        <div class="col">
          <div class="field">
            <%= f.text_field :name, autofocus: true, placeholder: "名前", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="field">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-row" style="margin-top: 30px;">
      <div class="col">
        <%= link_to "ログイン画面へ", new_user_session_path %>
      </div>
    </div>
  </div>
</div>
