<h1>Logs#new</h1>
<p>Find me in app/views/logs/new.html.erb</p>

<%= form_with model: [@user, @log], local: true do |f| %>
<%= raw sprintf(
      f.date_select(
          :date,
          use_month_numbers: true,
          start_year: 2000,
          end_year: (Time.now.year),
          date_separator: '%s'),
        '年 ','月 ')+'日 '
%>
<%= f.text_field :weight %> kg
<%= f.submit '入力' %>
<% end %>


<%= link_to "user_show（仮）", user_path(current_user) %>
